<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel=stylesheet href="static/dash.css">
  <!--font-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito&display=swap" rel="stylesheet">
  <!--icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >

  
  <title>JOB-FINDER||Dashboard</title>
</head>
<body>
   <!--navbar-->
   <nav class="navbar">
      <h2 class="navbar-logo"><a href="#"><img src="static/images/logo.jpg"></a></h2>
      <div class="navbar-menu">
          <a type="button"  id="donate" href="/logout">LOGOUT</a>
          <a type="button"  id="sponsor" href="apply">Apply Job</a>
          <a type="button"  id="sponsor" href="display">Details</a>
      </div>
      <div class="menu-toggle">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
    </nav>
    <header>
       <h1 class="header-title">
          <br> WELCOME TO <br> <span>DASHBOARD</span> 
           
       </h1>
       
       </header> 
   <br><center><h1>The Available Jobs are Listed below</h1></center>
     <section class="blog" id="blog"  >
     <h1 class="section-title">Available Jobs</h1>
     <p>See what are the available Jobs</p>
      <div class="blog-wrapper">
        <div class="blog-card">
          <img class="blog-img" src="static/images/up.jpg">
          <div class="blog-detail">
           <h4>Business Development Manager</h4>
           <p>Salary -4 to 7lpa<br>Job Type-Full-time/Regular/<br>Strong negotiation skills with a proven ability to seek.
Comfortable working hands-on in a fast-paced start-up environment</p>
           <hr class="divider">
           <a href="apply" class="btn btn-primary">Apply Now</a>
           </hr>
          </div>
        </div>
         <div class="blog-card">
           <img class="blog-img" src="static/images/ju.jpg">
           <div class="blog-detail">
            <h4>Web Designer</h4>
            <p>Wanted Web Designer and Developer Location:- Chennai Experience:- 0-1 year<br>The skills are Content Management Systems (CMS) ,
Responsive design and 
User Experience</p>
            <hr class="divider">
           <a href="apply" class="btn btn-primary">Apply Now</a>
            </hr>
           </div>
         </div>
         <div class="blog-card">
           <img class="blog-img" src="static/images/tea.jpg">
           <div class="blog-detail">
            <h4>MEAN Stack Develepor</h4>
            <p>Salary:4 to 6lpa<br>Experience creating front end application.Building interactive consumer data from multiple systems and RESTfully abstract to the UI through a Node.js backend</p>
            <hr class="divider">
               <a href="apply" class="btn btn-primary">Apply Now</a>
            </hr>
           </div>
         </div>
         <div class="blog-card">
           <img class="blog-img" src="static/images/blu.jpg">
           <div class="blog-detail">
            <h4>Graphic Designer</h4>
            <p>Full time<br> The skills are Have to design Social Media Posts for Linkedin, Facebook, Instagram, Youtube, and Twitter with the following criteria.</p>
            <hr class="divider">
            <a href="apply" class="btn btn-primary">Apply Now</a>
            </hr>
           </div>
         </div>
         <div class="blog-card">
           <img class="blog-img" src="static/images/and.jpg">
           <div class="blog-detail">
            <h4>iOS Developer</h4>
            <p>Full time<br>Salary-3 to 4lpa<br>Account Must have experience in Objective-c and swift
experience 1-3 year
</p>
            <hr class="divider">
           <a href="apply" class="btn btn-primary">Apply Now</a>
            </hr>
           </div>
         </div>
         <div class="blog-card">
           <img class="blog-img" src="static/images/work.jpg">
           <div class="blog-detail">
            <h4>Assistant Manager</h4>
            <p>Full time <br>We are looking for multiple positions in FP&A and F&A, candidate should have 3-5 years of experience in the related field</p>
            <hr class="divider">
            <a href="apply" class="btn btn-primary">Apply Now</a>
            </hr>
           </div>
         </div>
         <div class="blog-card">
           <img class="blog-img" src="static/images/deu.jpg">
           <div class="blog-detail">
            <h4>Intern</h4>
            <p>Internship<br>Virtual internship for 2 months in collaboration with Top MNC COMPANIES WITH INDUSTRIAL EXPERIENCE</p>
            <hr class="divider">
             <a href="apply" class="btn btn-primary">Apply Now</a>
            </hr>
           </div>
         </div>
         <div class="blog-card">
           <img class="blog-img" src="static/images/7.jpg">
           <div class="blog-detail">
            <h4>Senior PHP Developer</h4>
            <p>Expertise in PHP, JavaScript, HTML5, CSS, MySQL, NoSQL.

Strong knowledge in Yii Framework, MVC, jQuery and responsive web development.
</p>
            <hr class="divider">
            <a href="apply" class="btn btn-primary">Apply Now</a>
            </hr>
           </div>
         </div>
         <div class="blog-card">
           <img class="blog-img" src="static/images/upt.jpg">
           <div class="blog-detail">
            <h4>Technical Recruiter</h4>
            <p> 2+ years of recruiting experience for US clients.Outstanding communication skills.Exceptional analytical skills
Demonstrated history of success</p>
            <hr class="divider">
           <a href="apply" class="btn btn-primary">Apply Now</a>
            </hr>
           </div>
         </div>
      </div>  
     </section>
      <footer>
       <div class="footer-wrapper">
          <h3>Team Details</h3>
          <p>Team ID:PNT2022TMID27335</p><br>
          <p>Skill/Job Recommender Application</p>
          <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
            
          </div>
         
          <div class="footer-wrapper">
             <h4>Authorship</h4>
               <a href="#">Balaji</a>
               <a href="#">Doreen</a>
               <a href="#">Kavipriya</a>
                 <a href="#">Gowtham</a>
           </div>
           
           <div class="footer-wrapper">
             <h4>Contacts</h4>
               <a href="#">balajininja77@gmail.com</a>
               <a href="#">doreenbelinta2002@gmail.com</a>
                <a href="#">kaviloki02@gmail.com</a>
                 <a href="#">khgowtham55@gmail.com</a>
               
           </div>
           
           <div class="footer-wrapper">
              <h4>Account</h4>
                <a href="Register.html">Signup/Register</a>
                <a href="login.html">Signin/Login</a>
           </div>
            <div class="footer-wrapper">
               <h4>Community</h4>
                 <a href="#">Community</a>
                 <a href="#">Invite a friend</a>
            </div>
             
             
        </footer>  
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "dc26fd31-fbb6-4063-a505-c988e02b1bc8", // The ID of this integration.
    region: "us-south", // The region your integration is hosted in.
    serviceInstanceID: "62b0f6b7-2d10-41c0-a3a4-180f9931cbe2", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

</body>
</html>