<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Jobportal||Login Page</title>
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/logincss.css">
</head>
<body>

<div class="container">
  <div class="left-section">
    <div class="header">
      <h2>JOB-FINDER</h2><br><br><br>
      <h1 class="animation a1">Welcome Back!</h1>
      <h4 class="animation a2">Login for entering dashboard.</h4>
    </div>
    <form action="\login" method="post">
    <div class="form">
    <div class="msg">{{msg}}</div>
      <input type="text" class="form-field animation a3" placeholder="Username" id="username" name="username">
      <input type="password" class="form-field animation a4" placeholder="Password" id="password" name="password"><br>
      
      <button type="submit" class="animation a5">LOGIN</button><br>
      <p class="animation a6">Already have an account?&nbsp;&nbsp;<a href="register"  style="color:blue">SignUp</a></p>
     
    </div>
    </form>
  </div>
  <div class="right-section"></div>
</div>
  
</body>
</html>